.descriptionBlock {
  padding: 10px;
}
.descriptionBlock img {
  cursor: pointer;
}
.infoUser {
  display: flex;
  flex-direction: column;
  background-color: brown;
}
.FBContact {
  background-color: lawngreen;
}
